html
  head
    link(rel="stylesheet" href="./styles/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://www.google.com/recaptcha/api.js")
  body
    nav-bar
    
    #home.col-12.m-container.m-center
      .col-3.col-md-8.col-sm-10.mt-3
        a(href="#home")
          img(src='./assets/graphics/header-logo.svg')
    
    .col-12.m-container.m-stack
      include appLoop
    include footer
    
    include scripts