html
  head
    link(rel="stylesheet" href="./style.css")
  body
    include nav
    
    .col-3
      img(src='./assets/graphics/header-logo.svg')
    
    include appLoop
    
    include footer
    
    include scripts