html
  head
    link(rel="stylesheet" href="./style.css")
  body
    include nav

    include logo 

    include title

    .col-12
      include landing
      include carousel

    include bio

    include services
    
    include footer

    include scripts