div.col-12
      div.col-3
        m-graphic.main-logo
div.col-12
  m-text.title.font-lg #{Data.t1}
div.col-12
  div.col-6
    m-text #{Data.p1}
    m-button #{Data.bt1}
  
  div.col-6
    m-text {{ carousel component goes here }}