script(type="module" src="./mGraphic.js")
script(type="module" src="./mImg.js")
script(type="module" src="./mNav.js")
script(type="module" src="./mTextBox.js")
script(type="module" src="./mList.js")
script(type="module" src="./mFooter.js")
script(type="module" src="./mButton.js")