* {
  font-family: -agent-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}
[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.m-container {
  display: flex;
}

/* Modifiers */
.m-center{
  justify-content: center;
}
.m-end{
  justify-content: flex-end;
}
.m-stack{
  flex-direction: column;
}
.m-neat{
  justify-content: space-evenly;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Text */
button, #title {
  font-weight: 800;
}
#title{
  text-transform: uppercase;
}

/* Nav Bar */
.navigation-menu a{
  overflow: hidden;
}
.navigation-menu a {
  float: right;
  text-decoration: none;
  padding: 1em;
}
.navigation-menu a:hover {
  color: green;
  text-decoration: underline;
}
.navigation-menu a.active {
  color: green;
  text-decoration: underline;
}
.navigation-menu .icon {
  display: none;
}


/* Links */
.i-link img{
  height: 50px;
  width: 50px;
  padding: 0 1em;
}

/* Carousel */
.carousel > div > img {
  height: 300px;
}

/* Buttons */
button {
  background: #004f11;
  border: 1px solid #003b0d;
  border-radius: 45px;
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgb(64 64 64 / 9%);
  line-height: 45px;
  padding: 0.25rem;
  width: 50%;
}
button a {
  color: #fff;
}

@media screen and (max-width: 1244px) {
  #nav .nav-item:not(:first-child) {display: none;}
  #nav .icon {
    display: block;
  }
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}

@media screen and (max-width: 600px) {
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
}